#character_target_container {
  background: url("http://localhost/assets/healthbar.normal.png") no-repeat;
  background-size: 100% 50px;
  background-position: center;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 50px;
  background-color: transparent;
  padding: 10px;
  text-align: center;
  z-index: 100;
}

#character_target_nickname {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  font-size: 6pt !important;
}

#character_target_distance {
  position: absolute;
  right: 10px;
  bottom: -5px;
  font-size: 6pt !important;
}

#character_target_class_icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 22px;
  top: 9px;
  border-radius: 100%;
}

#character_target_level {
  position: absolute;
  left: 5px;
  top: 19px;
  font-size: 6pt !important;
}

/* =================================================================== */
#dockbar {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 1020px;
  height: 100px;
  padding: 10px;
  text-align: center;
  z-index: 5;
}

#experience-bar {
  position: absolute;
  bottom: 28px;
  left: 10px;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background: #78f7ff;
}

#status-bar {
  position: absolute;
  left: -30px;
  top: -50px;
  width: 300px;
  height: 180px;
  background: url("../dock/dockbar.png") no-repeat;
  background-size: 300px 170px;
  z-index: 2;
}

#quick-bar {
  position: absolute;
  left: 230px;
  top: 0;
  width: 600px;
  height: 65px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-left: 50px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.quick-bar-item {
  position: relative;
  float: left;
  background: #000;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin: 12.5px 2.5px;
  border-radius: 5px;
}

.quick-bar-item label {
  position: absolute;
  display: block;
  left: 5px;
  top: 2.5px;
  font-size: 5pt !important;
  z-index: 2;
}

.quick-bar-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
}
