.overlay {
  position: fixed;
  z-index: 10;
  inset: 0;
  pointer-events: none;
}

/* Panel styles */
.panel {
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  pointer-events: auto;
  user-select: none;
  transition: box-shadow 0.15s ease;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  will-change: transform, width, height;
  contain: layout paint;
  transform: translate3d(0, 0, 0);
}
.panel:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
}

.panel-header {
  border-radius: 8px;
  color: white;
  background:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.13)),
    radial-gradient(
      90% 7% at 50% 8%,
      rgba(255, 255, 255, 0.47) 25%,
      rgba(255, 255, 255, 0) 50%
    ),
    #1e272e;
  border: 0;
  border-radius: 0.375em;
  box-shadow:
    0.2em 0.2em 0.5em rgba(0, 0, 0, 0.47),
    0 -0.1em 0 0.1em rgba(0, 0, 0, 0.27),
    0 0.1em 0 0.1em rgba(255, 255, 255, 0.27),
    -0.2em 0 0.2em #17232e inset,
    0 0.2em 0.2em rgba(255, 255, 255, 0.27) inset,
    0.2em 0 0.2em rgba(255, 255, 255, 0.27) inset,
    0 -0.2em 0.2em #26303e inset;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.47);
  transition-property: box-shadow;
  -webkit-tap-highlight-color: transparent;
  padding: 6px 10px;
  font-weight: bold;
  cursor: grab;
  display: flex;
  text-align: center;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.panel-header:active {
  cursor: grabbing;
}

.panel-content {
  height: 300px;
  font-size: 10px;
}

/* Resize handle at bottom-right */
.resize-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background: transparent;
  cursor: nwse-resize;
}

/* Minimize button */
.min-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.min-btn:hover {
  color: #ffd966;
}

.character-info {
  position: relative;
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.inventory {
  margin-top: 10px;
  width: 100%;
  height: 284px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.inventory table {
  width: 100%;
  border: none;
}

.inventory table tr td {
  width: 43px;
  height: 43px;
  background: #211f1a;
  border-radius: 5px;
}

/* CUSTOM FOR PRIMEVUE */
.p-tablist {
  background: transparent !important;
}

.p-tab {
  font-size: 6pt !important;
  color: #fff !important;
  background:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.13)),
    radial-gradient(
      90% 7% at 50% 8%,
      rgba(255, 255, 255, 0.47) 25%,
      rgba(255, 255, 255, 0) 50%
    ),
    #1e272e;
  border: 0;
  border-radius: 0.375em;
  box-shadow:
    0.2em 0.2em 0.5em rgba(0, 0, 0, 0.47),
    0 -0.1em 0 0.1em rgba(0, 0, 0, 0.27),
    0 0.1em 0 0.1em rgba(255, 255, 255, 0.27),
    -0.2em 0 0.2em #17232e inset,
    0 0.2em 0.2em rgba(255, 255, 255, 0.27) inset,
    0.2em 0 0.2em rgba(255, 255, 255, 0.27) inset,
    0 -0.2em 0.2em #26303e inset;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.47);
  transition-property: box-shadow;
  -webkit-tap-highlight-color: transparent;
}

.p-tab-active {
  background:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.13)),
    radial-gradient(
      90% 7% at 50% 8%,
      rgba(255, 255, 255, 0.47) 25%,
      rgba(255, 255, 255, 0) 50%
    ),
    #31404e !important;
  border: 0;
  border-radius: 0.375em;
  box-shadow:
    0.2em 0.2em 0.5em rgba(0, 0, 0, 0.47),
    0 -0.1em 0 0.1em rgba(0, 0, 0, 0.27),
    0 0.1em 0 0.1em rgba(255, 255, 255, 0.27),
    -0.2em 0 0.2em #31404e inset,
    0 0.2em 0.2em rgba(255, 255, 255, 0.27) inset,
    0.2em 0 0.2em rgba(255, 255, 255, 0.27) inset,
    0 -0.2em 0.2em #31404e inset;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.47);
  transition-property: box-shadow;
  -webkit-tap-highlight-color: transparent;
}

.p-tab.p-tab-active {
  border-bottom: solid 1px transparent !important;
}

.p-tablist-tab-list {
  border-color: #b4ad8f !important;
}

.p-tabpanels {
  padding: 0 10px !important;
  color: #fff !important;
  background: transparent !important;
  height: 100px;
}

.chat-p {
  color: #b4ad8f !important;
  margin: 0 !important;
}

.chat-p.system {
  color: #21a3ff !important;
}

.chat-p.from-enemy {
  color: #e60000 !important;
}

.chat-p.from-allied {
  color: #00c22d !important;
}

.chat-p.whisper {
  color: #d64fff !important;
}

.chat-p.guild {
  color: #f2e200 !important;
}

.chat-p.party {
  color: #f59400 !important;
}

.chat-p:hover {
  text-shadow: 0px 0px 10px #fff;
}

.overflow-y {
  overflow-y: auto;
}

.panel-table {
  width: 100%;
  background: #0e151a;
  border-collapse: separate;
}

.panel-table thead tr th {
  background:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.13)),
    radial-gradient(
      90% 7% at 50% 8%,
      rgba(255, 255, 255, 0.47) 25%,
      rgba(255, 255, 255, 0) 50%
    ),
    #1e272e;
  border: 0;
  border-radius: 0.375em;
  box-shadow:
    0.2em 0.2em 0.5em rgba(0, 0, 0, 0.47),
    0 -0.1em 0 0.1em rgba(0, 0, 0, 0.27),
    0 0.1em 0 0.1em rgba(255, 255, 255, 0.27),
    -0.2em 0 0.2em #17232e inset,
    0 0.2em 0.2em rgba(255, 255, 255, 0.27) inset,
    0.2em 0 0.2em rgba(255, 255, 255, 0.27) inset,
    0 -0.2em 0.2em #26303e inset;
  color: #fff;
  cursor: pointer;
  padding: 0.75em 1em;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.47);
  transition-property: box-shadow;
  -webkit-tap-highlight-color: transparent;
}

.panel-table thead tr th,
.panel-table thead tr th span {
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.panel-table tbody tr td {
  background: #151c21;
  border: solid 2.5px #0e151a;
  padding: 10px !important;
}

.panel-table tbody tr td.wrap-content {
  word-wrap: break-word !important;
  white-space: nowrap !important;
  width: 1% !important;
  padding: 0 !important;
}
