node_modules/
**/*/dist/
*.log
apps/client/public/
apps/client/characters/
apps/client/src/assets/dock/
apps/client/src/assets/clothes/
apps/client/src/assets/cursor/
apps/client/src/assets/font/
apps/client/src/assets/job/
apps/client/src/assets/wallpaper/
apps/client/src/assets/*.svg
apps/client/src/assets/logo*
apps/client/tools/venv/
**/*/.env*
.turbo/
.vscode/